@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/*
  Breakpoints:
  - sm: 640px
  - md: 768px
  - lg: 1024px
  - xl: 1280px
*/

:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-background: #EAE4DC;
  --color-foreground: var(--color-dark);
  --color-primary: #A85822;
  --color-primary-foreground: var(--color-dark);

  --font-family-heading: "Libertinus Mono", Arial, Helvetica, sans-serif;
  --font-family-text: "Libertinus Sans", Arial, Helvetica, sans-serif;

  --font-size-400: 1rem;
  --font-size-500: 1.25rem;
  --font-size-600: 1.5rem;
  --font-size-700: 2rem;
  --font-size-800: 2.5rem;
  --font-size-900: 4rem;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
  With Tweaks
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  line-height: 1.5;
  font-size: var(--font-size-400);
  font-family: var(--font-family-text);
  -webkit-font-smoothing: antialiased;
}

@media only screen and (min-width: 640px) {
  body {
    font-size: var(--font-size-500);
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  text-wrap: balance;
  font-weight: 400;
}

a {
  color: var(--color-dark);
  transition: opacity 0.2s ease;
}

a:hover {
  opacity: 60%;
}

/*
  utility classes: basic layout
*/
.container {
  display: block;
  width: 100%;
  max-width: 1280px;
  padding: 0 2rem;
  margin: auto;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*
  utility classes: padding
*/
.pl-1 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 1rem;
}

.pl-3 {
  padding-left: 1.5rem;
}

.pl-4 {
  padding-left: 2rem;
}

.pl-5 {
  padding-left: 2.5rem;
}

.pl-6 {
  padding-left: 3rem;
}

.pl-7 {
  padding-left: 3.5rem;
}

.pl-8 {
  padding-left: 4rem;
}

/*
  utility classes: transition
*/
.transition-opacity {
  transition: opacity 0.2s ease;
}

.transition-opacity:hover {
  opacity: 60%;
}

/*
  utility classes: text style
*/
.text-nowrap {
  text-wrap: nowrap;
}

.line-height-normal {
  line-height: normal;
}

.text-justify {
  text-align: justify;
}

.list-style-none {
  list-style: none;
}

/*
  utility classes: font sizes
*/
.text-sm {
  font-size: var(--font-size-400);
}

@media only screen and (min-width: 640px) {
  .text-sm {
    font-size: var(--font-size-500);
  }
}

.text-md {
  font-size: var(--font-size-500);
}

@media only screen and (min-width: 640px) {
  .text-md {
    font-size: var(--font-size-600);
  }
}

.text-lg {
  font-size: var(--font-size-700);
}

@media only screen and (min-width: 640px) {
  .text-lg {
    font-size: var(--font-size-800);
  }
}

.text-xl {
  font-size: var(--font-size-900);
}

/*
  utility classes: font weights
*/
.text-normal {
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}

/*
  utility classes: font families
*/
.font-text {
  font-weight: 400;
}

.text-heading {
  font-weight: 700;
}

/*
  utility classes: colors
*/
.text-dark {
  color: var(--color-dark);
}

.text-light {
  color: var(--color-light);
}

.text-background {
  color: var(--color-background);
}

.text-foreground {
  color: var(--color-foreground);
}

.text-primary {
  color: var(--color-primary);
}

.text-primary-foreground {
  color: var(--color-primary-foreground);
}

.bg-dark {
  background-color: var(--color-dark);
}

.bg-light {
  background-color: var(--color-light);
}

.bg-background {
  color: var(--color-background);
}

.bg-foreground {
  color: var(--color-foreground);
}

.bg-primary {
  color: var(--color-primary);
}

.bg-primary-foreground {
  color: var(--color-primary-foreground);
}

/*
  Components
*/
